.main {
  background-color: red;
}

.navbar {
   background-color: #00172E;
   padding: 12px;
}

.navbar-brand {
  color: white;
}

.jumbotron {
 background-color: green ;
}

.nav-link {
  padding: 20px;
  font-size: 20px;
  color: #FAFAFA;
}

.form-inline {
  position: relative;
  float: right;
}

.container {

  color: darkblue;
  font-family: sans-serif;
  padding: 20px;
}

.container2 {
  background-color: red;
  color: green;
  font-family: sans-serif;
  padding: 20px;
}
.row {
}
