
.body {
  background-color: white;
}

.navbar {
   background-color: #00172E;
   padding: 12px;
}

.navbar-brand {
  color: white;
  }

.nav-link {
  padding: 20px;
  font-size: 20px;
  color: #D6D13A;
}

.form-inline {
  position: relative;
  float: right;
}

.container{
  background-color: white;
  color: darkblue;
  font-family: sans-serif;
  padding: 20px;
}

.row {
}
