.main {
  background-color: red;
}

.navbar {
   background-color: #00172E;
   padding: 12px;
   height: 60px;
line-height: 40px;
}

.navbar-brand {
  color: red;
  font-size: 120px;
}

.nav-link {
  padding: 20px;
  font-size: 20px;
  color: #FAFAFA;
}

.form-inline {
  position: relative;
  float: right;
}

.jumbotron {
  padding: 100px;
}

.container {
  color: darkblue;
  font-family: sans-serif;
  padding: 20px;
}

.container2 {
  background-color: #FAFAFA;
  font-family: sans-serif;
  padding: 200px;
}

.row {
}
